<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>hukai-shisu-display Test Page</title>
</head>
<link href="/style.css" rel="stylesheet" type="text/css"></link>
<body>
<div class="today">本日の温度 : <%= @tem %></div>
<div class="today">本日の湿度 : <%= @hum %></div>
<div class="today">本日の不快指数 : <%= @hukai_shisu_result %></div>
</body>
</html>